.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.box-margin {
  margin-top: 30px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 !important;
  border: none !important;
}
.button-grid {
  display: flex;
  justify-content: space-between;
}
.button-style {
  border: 1px solid blue !important;
  color: blue !important;
  padding-top: 0px !important;
  margin: 0px !important;
  display: flex !important;
  justify-content: center !important;
}
.top-margin {
  margin-top: 5px;
}
.view-fear {
  background-color: blue !important;
}
.view-fareLine {
  /* transform: 'rotate(180deg)'; */
  border-top: 3px dotted rgb(91, 95, 91);
  width: 70%;
  /* margin: auto; */
  margin-top: 0.7rem;
  padding: 0px;
}
.tooltipIconsSize .css-i4bv87-MuiSvgIcon-root {
  font-size: 1rem;
}
h4 {
  padding: 0;
  margin: 0;
}
h5 {
  color: gray;
  padding: 0;
  margin: 0;
}
.view-fears {
  margin:auto
}

@media (min-width: 320px) and (max-width: 480px) {
  .tooltipIconsSize .css-i4bv87-MuiSvgIcon-root {
    font-size: 0rem;
  }
  .tcard .view-fareLine {
    width: 70%;
  }
  .tcard {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .iconbar {
    font-size: 1.5rem !important;
  }
  .tcard h4 {
    font-size: 1.4rem;
  }
  .tcard h5 {
    font-size: 1rem;
  }
}
