.bdcard {
  display: flex;
  margin: 20px;
  border: 1px solid gray;
  padding: 5px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7%;
}
.AcUnitIcon {
  margin-top: 15px;
  color: red;
  margin-right: 10px;
}
p,
h5 {
  /* margin: 5px; */
  padding: 0px;
  margin: 0px;
}
